.need-card {
    box-shadow: 5px 5px 20px lightgrey;
    padding: 30px;
    margin-bottom: 50px;
}

.need-card:hover {
    box-shadow: 10px 10px 20px lightgrey;
}

@media only screen and (max-width: 600px) {
    .need-card {
        
    }
}