.custom-container {
    width: 70%;
    margin: 0 auto;
}

.custom-btn {
    background-color: #ff6b6b;
    padding: 15px 40px;
    border: none;
    color: white;
    font-weight: 800;
}

.nav-logo {
    padding-left: 270px;
}

.download-btn {
    margin-right: 300px;
}

@media only screen and (max-width: 1100px) {
    .nav-logo {
        padding-left: 20px;
    }

    .download-btn {
        margin-right: 50px;
    }
}