.new-idea {
    height: 400px;
    background-color: #4ecdc4; 
    color: white;
    padding: 100px;
}

.smart-way {
    height: 400px;
    background-color: #556270; 
    color: white;
    padding: 50px 100px;
}

/* .full-container {
    width: 100%;
    margin: 0 auto;
} */